In [2]:
import pandas as pd

In [3]:
sales = pd.read_csv("../../datasets/sales_data_sample.csv", sep=",", encoding="Latin-1")

In [4]:
sales

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,10350,20,100.00,15,2244.40,12/2/2004 0:00,Shipped,4,12,2004,...,"C/ Moralzarzal, 86",NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Small
2819,10373,29,100.00,1,3978.51,1/31/2005 0:00,Shipped,1,1,2005,...,Torikatu 38,NaN,Oulu,NaN,90110,Finland,EMEA,Koskitalo,Pirkko,Medium
2820,10386,43,100.00,4,5417.57,3/1/2005 0:00,Resolved,1,3,2005,...,"C/ Moralzarzal, 86",NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Medium
2821,10397,34,62.24,1,2116.16,3/28/2005 0:00,Shipped,1,3,2005,...,1 rue Alsace-Lorraine,NaN,Toulouse,NaN,31000,France,EMEA,Roulet,Annette,Small
2822,10414,47,65.52,9,3079.44,5/6/2005 0:00,On Hold,2,5,2005,...,8616 Spinnaker Dr.,NaN,Boston,MA,51003,USA,NaN,Yoshido,Juri,Medium

# Using code, explore the data (meta-information)

In [6]:
#sales.value_counts()

In [ ]:
"""
- table
    sales.shape
    sales.columns
    sales.info

- cohesiveness of data
    - sales.duplicated
    - sales.ina().sum()

- values
    sales.dtypes: categorical / qty / str, int, float
    sales.describe, # qtve variables
    sales[col1].value_counts() # frequency of each level of cat, dimensions
    
"""

# Without using code. list all of the things you would like to find about this dataset

In [ ]:
"""
sales for product line en each state / country
    sales for product line en each city and state?
    
sales[["quantity orders", "price", "sales"]] # Sales
correlation between each location / sales-money. postal code
    - total money per store
    - correlation for numerical variables: is one_v changing at the same rate than another_v? 
months with highest changes in sales
months & product lines: evolution (linechart), barchart
total sales per product line: do chairs sell better than tables?
DIFF(delivery date - order date) -> KPIsssss
    - amazon: next day delivery for prime users
non-shipped orders?
status of shippment: something going on on regions / products?
correlation between sales w/ qty items ordered
    - few items, more expensive -> more revenue?
    - bunch of items -> revenue?
repeated customers? 
price of each order PER customer
evolution of orders PER customer
distribution of customers country-wise
average qty ($) per deal size
column state: missing values
    - fill missing values
    - city, wouldn't do it: using another column to fill the info
    - zipcode: extract APIs
sales: pie chart to check: distribution of sales in different states
Dealsize: sales by year, quarter, state/country
    - price, sales
    - dealszie: categorized
MSRP: precio recomendado vs actual priceage(?)
    - describe MSRP by country
    - MSRP vs PRICE: highest / lowest gap
    - APIs: average salary / purchasing power
Name of customer: gender (?)
Is there a seasonality on products? panettone?
    - Dealsize: metrics per Q
        - Q1, Q2, Q3, Q4
        - Medium, Small, Large
        - Proportion in each period
    - Dealsize vs. price: deals/discount
Trends:
    - Sales per city over time
    - Flag under-selling cities
    - Flag over-selling cities
Evolution of the company through the years
    - Sales per year
    - Qty per year

"""

In [ ]:
# Shark attacks
# Explore (1): missing values, duplicates...
# Explore (2): meaning of the values

# Explore, Transform, plots / visualizations

# SUGGESTED TIMELINE
# TODAY
    # 1. Basic exploration
    # 2. Come up with questions
    
# Saturday:
    # - cleaning
    # - cleaning
   #  - clean
# Sunday
    # - Draft some plots
    
# Monday
    # - debugg
    # - polish the code
    # - orgganize the code